.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-family: "Gilroy-Medium", sans-serif;
}
.header-logo {
  width: 180px;
  cursor: pointer;
}
.header-logo img {
  width: 100%;
}
.header-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 32px;
  height: 44px;
  padding: 8px 16px;
  gap: 12px;
}
.header-search img {
  position: absolute;
  margin-left: 16px;
  cursor: pointer;
}
.header-search input {
  width: 450px;
  height: 44px;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  outline: none;
  background: #f9f9f9;
  padding-left: 44px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.header-search input[type=search i]::-webkit-search-cancel-button {
  margin-right: 10px;
  cursor: pointer;
}
.header-search input:focus-visible {
  outline: 1px solid gold;
}
.header-lang {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-lang .lang-main {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 11px 16px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  background: #f9f9f9;
  transition: all 0.3s ease;
}
.header-lang .lang-main:hover {
  background: #e8e8e8;
}
.header-lang .lang-main .chevron-down {
  display: flex;
  align-items: flex-end;
}
.header-lang .lang-other {
  position: absolute;
  top: 50px;
  display: flex;
  width: 130px;
  height: 50px;
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.header-lang .open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.header-menu__wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  margin-bottom: 64px;
  align-items: center;
  background: #f9f9f9;
}
.header-menu__wrapper .header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-menu__wrapper .header-menu__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 1300px) {
  .header-menu__wrapper .header-menu__buttons {
    gap: 8px;
  }
}

.header-menu__items ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1300px) {
  .header-menu__items ul {
    gap: 10px;
  }
}
.header-menu__items ul li {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  cursor: pointer;
  position: relative;
}
.header-menu__items ul li a {
  display: flex;
  color: #000;
  text-decoration: none;
  line-height: 52px;
}
.header-menu__items ul li .active {
  border-bottom: 3px solid #7007ca;
}

.contact-menu {
  position: relative;
}
.contact-menu .contact-main {
  display: flex;
  align-items: center;
  height: 56px;
  gap: 8px;
  cursor: pointer;
}
.contact-menu:hover .contact-numbers {
  opacity: 1;
  pointer-events: auto;
}
.contact-menu .contact-numbers {
  position: absolute;
  top: 56px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 99;
}
.contact-menu .contact-numbers span {
  color: #66686c;
}
.contact-menu .contact-numbers strong {
  color: #323232;
}
.contact-menu .contact-numbers .call-center a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid #ededed;
}
.contact-menu .contact-numbers .call-center div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contact-menu .contact-numbers .call-phone a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.contact-menu .contact-numbers .call-phone div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-message a {
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #7007ca;
  background: #7007ca;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-message a:hover {
  background: #8803fd;
}
@media screen and (max-width: 1300px) {
  .contact-message a {
    padding: 8px 10px;
    font-size: 14px;
  }
}

.help-btn {
  right: 50px;
  bottom: 50px;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: self-end;
  z-index: 999;
  gap: 12px;
  transition: opacity 1s ease;
}
.help-btn-main {
  display: flex;
  gap: 5px;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  background: #7007ca;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(255, 255, 255, 0.55) 0px 0px 10px;
}
.help-btn-main:hover {
  background: #8803fd;
}
.help-btn-main p,
.help-btn-main svg {
  pointer-events: none;
}
.help-btn-others {
  flex-direction: column-reverse;
  gap: 12px;
  align-items: flex-end;
  display: none;
  opacity: 0;
}
.help-btn-others a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  background: #7007ca;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 24px;
  z-index: 999;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.modal-header .title {
  font-size: 30px;
  font-weight: bold;
}
.modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.modal-content {
  width: 100%;
}
.modal-content .modal-subtitle {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #66686c;
  margin-bottom: 24px;
}
.modal-content .phone-number {
  font-size: 16px;
  font-weight: 550;
  line-height: 16px;
}
.modal-content .telephone {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #e6e6e6;
  background: var(--white, #fff);
  margin-bottom: 12px;
  outline: none;
}
.modal-content .modal-btn {
  width: 100%;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  background: #7007ca;
  border: none;
  transition: all 0.3s ease;
}
.modal-content .modal-btn:hover {
  background: #8803fd;
}

.opened {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  transition: all 200ms ease-in-out;
  opacity: 0;
  top: 0;
  right: -100%;
  bottom: -100%;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
}
#overlay.opened {
  opacity: 1;
  pointer-events: all;
}

.recall-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  z-index: 10;
  width: 400px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 24px;
  z-index: 999;
}
.recall-modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.recall-modal-header .recall-title {
  font-size: 30px;
  font-weight: bold;
}
.recall-modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.recall-modal-content {
  width: 100%;
}
.recall-modal-content .recall-modal__content-subtitle {
  margin: 20px auto 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #575757;
  margin-bottom: 24px;
}
.recall-modal-content .recall-telephone {
  width: 90%;
  margin: 0 auto 12px;
  border-bottom: 2px solid #e6e6e6;
}
.recall-modal-content .recall-phone {
  width: 100%;
  padding: 12px 12px 10px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  background: #fff;
  outline: none;
}
.recall-modal-content .recall-modal-btn {
  width: 100%;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  background: #7007ca;
  border: none;
  transition: all 0.3s ease;
}
.recall-modal-content .recall-modal-btn:hover {
  background: #8803fd;
}
.recall-modal-content .recall-modal-subtitle {
  margin: 20px auto 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #66686c;
  margin-bottom: 24px;
}

.opened {
  transform: translate(-50%, -50%) scale(1);
}

footer {
  width: 100%;
  background: #7007ca;
}

.footer-links {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.clinic-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
}
.clinic-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clinic-links a {
  color: #fff;
  text-decoration: none;
}

.about-center .about-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.about-center .about-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-center .about-links a {
  color: #fff;
  text-decoration: none;
}

.for-patients .patients-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.for-patients .patients-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.for-patients .patients-links a {
  color: #fff;
  text-decoration: none;
}

.contacts-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.contacts span {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.contacts-social .social-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.contacts-social .social-links {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}
.contacts .download-btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 25px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.contacts .download-btn span {
  color: #7007ca;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-description {
  max-width: 660px;
  margin: 16px auto;
}
.footer-description p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.section-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.about-us__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  margin-bottom: 64px;
}
.about-us__wrapper .about-us {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}
.about-us__wrapper .about-us .background-image {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.about-us__wrapper .about-us .background-image img {
  height: 100%;
}
.about-us__wrapper .about-us .background-image .gradient {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: -20px;
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgb(249, 249, 249) 30%, rgba(249, 249, 249, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .about-us__wrapper .about-us .background-image .gradient {
    width: 300px;
  }
}
@media screen and (max-width: 1100px) {
  .about-us__wrapper .about-us .background-image .gradient {
    width: 400px;
  }
}

.about-us__upper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 650px;
  z-index: 99;
}
.about-us__upper .about-us__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.about-us__upper .about-us__text {
  line-height: 24px;
  letter-spacing: -0.08px;
}

.about-us__card {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 9;
}
.about-us__card .card {
  display: flex;
  width: 294px;
  height: 136px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
}
.about-us__card .card-title {
  color: #7007ca;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.192px;
}

.about-clinic {
  max-width: 960px;
  margin: 0 auto 64px;
}
.about-clinic-title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
}
.about-clinic-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
  margin-bottom: 32px;
  padding: 0 20px;
}
.about-clinic-text span {
  color: #7007ca;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
}

.advantages-wrapper {
  width: 100%;
  background: #f9f9f9;
  margin-bottom: 64px;
}
.advantages-wrapper .advantages {
  position: relative;
  height: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 32px;
}
.advantages-wrapper .advantages .background-image {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.advantages-wrapper .advantages .background-image img {
  height: 100%;
}
.advantages-wrapper .advantages .background-image .gradient {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: -20px;
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgb(249, 249, 249) 30%, rgba(249, 249, 249, 0.8) 70%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  z-index: 1;
}

.advantages-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 9;
}
.advantages-buttons button {
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 16px;
  color: #66686c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.advantages-buttons .active {
  color: #fff;
  background: #7007ca;
  border: 1px solid #7007ca;
  transition: all 0.3s ease;
}
.advantages-buttons .active:hover {
  background: #8803fd;
}

.advantages-content {
  max-width: 660px;
  z-index: 9;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.advantages-content span {
  color: #7007ca;
  font-weight: 600;
}

.photogallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 64px;
}
.photogallery-title {
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
}
.photogallery-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
  opacity: 0.8;
}
.photogallery .photo-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.photogallery .photo-slider .slide-arrow {
  position: absolute;
  display: flex;
  width: 100%;
}
.photogallery .photo-slider .slide-arrow span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.photogallery .photo-slider .slide-arrow span img {
  width: 24px;
  height: 24px;
}
.photogallery .photo-slider .slide-arrow span:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.photogallery .photo-slider .slide-arrow #left {
  transform: translateX(-20px) rotate(90deg);
}
.photogallery .photo-slider .slide-arrow #right {
  position: absolute;
  right: 0;
  transform: translateX(20px) rotate(270deg);
}

.photos {
  display: flex;
  overflow: hidden;
  gap: 24px;
}
.photos img {
  border-radius: 20px;
}

.map-section__wrapper {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  background: #f9f9f9;
}

.about-map-section {
  display: flex;
  justify-content: space-between;
}
.about-map-section .about-map {
  width: 50%;
}
.about-map-section .form-section {
  width: 45%;
}
.about-map-section .form-section-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.12px;
  margin-bottom: 24px;
}
.about-map-section .form-section .form {
  display: flex;
  flex-direction: column;
}
.about-map-section .form-section .form .input {
  padding: 12px 16px;
  border: none;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ededed;
  margin-bottom: 16px;
}
.about-map-section .form-section .form textarea {
  padding: 12px 16px;
  border: none;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ededed;
  margin-bottom: 16px;
}
.about-map-section .form-section .form .form-btn {
  height: 48px;
  padding: 12px 16px;
  border: 1px solid #7007ca;
  border-radius: 6px;
  color: #fff;
  background: #7007ca;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.about-map-section .form-section-subtitle {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
}/*# sourceMappingURL=about-us-page.css.map */