.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.header-logo {
  cursor: pointer;
}
.header-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 32px;
  height: 44px;
  padding: 8px 16px;
  gap: 12px;
}
.header-search img {
  position: absolute;
  margin-left: 16px;
  cursor: pointer;
}
.header-search input {
  width: 450px;
  height: 44px;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  outline: none;
  background: #f9f9f9;
  padding-left: 44px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.header-search input[type=search i]::-webkit-search-cancel-button {
  margin-right: 10px;
  cursor: pointer;
}
.header-lang {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-lang .lang-main {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 11px 16px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  background: #f9f9f9;
}
.header-lang .lang-main .chevron-down {
  display: flex;
  align-items: flex-end;
}
.header-lang .lang-other {
  position: absolute;
  top: 50px;
  display: flex;
  width: 130px;
  height: 50px;
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.header-lang .open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.header-menu__wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  margin-bottom: 64px;
  align-items: center;
  background: #f9f9f9;
}
.header-menu__wrapper .header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-menu__wrapper .header-menu__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-menu__items ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-menu__items ul li {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  cursor: pointer;
}
.header-menu__items ul li a {
  display: flex;
  color: #000;
  text-decoration: none;
}

.contact-menu {
  position: relative;
}
.contact-menu .contact-main {
  display: flex;
  align-items: center;
  height: 56px;
  gap: 8px;
  cursor: pointer;
}
.contact-menu:hover .contact-numbers {
  opacity: 1;
  pointer-events: auto;
}
.contact-menu .contact-numbers {
  position: absolute;
  top: 56px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 99;
}
.contact-menu .contact-numbers span {
  color: #66686c;
}
.contact-menu .contact-numbers strong {
  color: #323232;
}
.contact-menu .contact-numbers .call-center {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid #ededed;
}
.contact-menu .contact-numbers .call-center div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contact-menu .contact-numbers .call-phone {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.contact-menu .contact-numbers .call-phone div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-message button {
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #7007ca;
  background: #7007ca;
  cursor: pointer;
}

.about-us__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  margin-bottom: 64px;
}
.about-us__wrapper .about-us {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px;
}
.about-us__wrapper .background-image {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.about-us__wrapper .background-image .gradient {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: -20px;
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgb(249, 249, 249) 30%, rgba(249, 249, 249, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  z-index: 1;
}

.about-us__upper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 650px;
  z-index: 999;
}
.about-us__upper .about-us__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.about-us__upper .about-us__text {
  line-height: 24px;
  letter-spacing: -0.08px;
}

.about-us__card {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 9;
}
.about-us__card .card {
  display: flex;
  width: 294px;
  height: 136px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
}
.about-us__card .card-title {
  color: #7007ca;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.192px;
}

.online-consultation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.consultation-main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.consultation-main .consultation-title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.5px;
}
.consultation-main .help-btn {
  right: 0;
  bottom: 30px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: self-end;
  z-index: 99;
  gap: 12px;
  transition: opacity 1s ease;
}
.consultation-main .help-btn-main {
  display: flex;
  gap: 5px;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  background: #7007ca;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.consultation-main .help-btn-main p,
.consultation-main .help-btn-main svg {
  pointer-events: none;
}
.consultation-main .help-btn-others {
  flex-direction: column-reverse;
  gap: 12px;
  align-items: flex-end;
  display: none;
  opacity: 0;
}
.consultation-main .help-btn-others a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  background: #7007ca;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
}

.consultation-type {
  display: flex;
  gap: 24px;
}
.consultation-type .type-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.consultation-type .type-buttons {
  border: 1px solid #ededed;
  padding: 4px;
  border-radius: 25px;
}
.consultation-type .type-buttons button {
  width: 100px;
  color: #000000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 20px;
}
.consultation-type .type-buttons .active {
  color: #ffffff;
  background: #7007ca;
}

.consultation-slider {
  position: relative;
  display: flex;
  align-items: center;
}
.consultation-slider .slide-arrow {
  position: absolute;
  display: flex;
  width: 100%;
}
.consultation-slider .slide-arrow span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.consultation-slider .slide-arrow span img {
  width: 24px;
  height: 24px;
}
.consultation-slider .slide-arrow span:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.consultation-slider .slide-arrow #left {
  transform: rotate(90deg);
}
.consultation-slider .slide-arrow #right {
  position: absolute;
  right: 0;
  transform: rotate(270deg);
}
.consultation-slider .carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 24px;
}

.slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  width: 185px;
  height: 130px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--black-white-white, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}
.slide-img {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 33px;
  background: rgba(112, 7, 202, 0.05);
}
.slide-name {
  text-align: center;
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
}

.advantages-wrapper {
  width: 100%;
  background: #f9f9f9;
  margin-bottom: 64px;
}
.advantages-wrapper .advantages {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 32px;
}
.advantages-wrapper .advantages .background-image {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.advantages-wrapper .advantages .background-image img {
  height: 100%;
}
.advantages-wrapper .advantages .background-image .gradient {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: -20px;
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgb(249, 249, 249) 30%, rgba(249, 249, 249, 0.8) 70%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  z-index: 1;
}

.advantages-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 9;
}
.advantages-buttons button {
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 16px;
  color: #66686c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.advantages-buttons .active {
  color: #fff;
  background: #7007ca;
  border: 1px solid #7007ca;
}

.advantages-content {
  max-width: 660px;
  z-index: 9;
}
.advantages-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.advantages-content span {
  color: #7007ca;
  font-weight: 600;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.services-title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.5px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.services-cards .card {
  width: 48%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #f9f9f9;
}
.services-cards .card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.services-cards .card-content__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.more-cards {
  width: 100%;
  padding: 15px 16px;
  background: #f9f9f9;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  border-radius: 8px;
}

.specialists-wrapper {
  width: 100%;
  background: #f9f9f9;
  padding: 64px 0;
  margin-bottom: 64px;
}

.specialists {
  position: relative;
}
.specialists-title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 32px;
}

.specialists-cards {
  position: relative;
}
.specialists-cards .slide-arrow {
  position: absolute;
  transform: translateY(-73px);
  display: flex;
  right: 0;
  gap: 10px;
}
.specialists-cards .slide-arrow span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.specialists-cards .slide-arrow span img {
  width: 24px;
  height: 24px;
}
.specialists-cards .slide-arrow span:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.specialists-cards .slide-arrow #left {
  transform: rotate(90deg);
}
.specialists-cards .slide-arrow #right {
  right: 0;
  transform: rotate(270deg);
}
.specialists-cards .carousel {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.specialists-cards .carousel .card {
  display: flex;
  background: #fff;
  max-width: 610px;
  border-radius: 6px;
}
.specialists-cards .carousel .card-img img {
  border-bottom: 2px solid #f9f9f9;
}
.specialists-cards .carousel .card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specialists-cards .carousel .card .candidate-wrapper {
  padding: 20px;
}
.specialists-cards .card-description {
  position: relative;
  padding: 0 16px;
}
.specialists-cards .card-description .candidate-degree {
  position: absolute;
  transform: translateX(-10px) translateY(-18px);
  color: #fff;
  padding: 4px 16px;
  border-radius: 6px;
  background: #7007ca;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.specialists-cards .card-description .candidate-seniority {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.specialists-cards .card-description .consult-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ededed;
}
.specialists-cards .card-description .consult-price .price-title {
  color: rgba(0, 4, 10, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.specialists-cards .card-description .consult-price .price {
  font-size: 16px;
  font-weight: 600;
}

.candidate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}
.candidate-name {
  font-size: 20px;
  font-weight: 700;
}
.candidate-specialty {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.candidate-specialty span {
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.appointment-time {
  padding: 10px 16px 20px;
  border-radius: 8px;
  border: 1px solid #7007ca;
  text-align: center;
  margin-bottom: 16px;
}
.appointment-time .appointment-title {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
}
.appointment-time .appointment-day {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}
.appointment-time .appointment-day .left {
  transform: rotate(90deg);
}
.appointment-time .appointment-day .right {
  transform: rotate(270deg);
}
.appointment-time .appointment-clock {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.appointment-time .appointment-clock .time {
  width: 60px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background: #7007ca;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.candidate-more {
  text-align: center;
  padding: 14px 0;
  border-radius: 8px;
  border: 1px solid #7007ca;
  color: #7007ca;
  font-size: 16px;
  font-weight: 600;
}

.more-specialists {
  width: 100%;
  display: flex;
  justify-content: center;
}
.more-specialists p {
  width: -moz-max-content;
  width: max-content;
  padding: 8px 30px;
  border-radius: 8px;
  color: #fff;
  background: #7007ca;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-header__title {
  font-size: 40px;
  font-weight: 600;
}
.news-header .view-more-button {
  display: flex;
  gap: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 18px;
  border-radius: 30px;
  border: 2px solid rgba(102, 104, 108, 0.2);
}
.news-header .view-more-button img {
  line-height: 15px;
  transform: rotate(-90deg);
}
.news-cards {
  display: flex;
  gap: 25px;
}

.cards {
  display: flex;
  gap: 20px;
}
.cards-image img {
  border-radius: 8px;
}
.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.cards-content-title {
  font-size: 20px;
  font-weight: 600;
}
.cards-content-text {
  color: #66686c;
  font-size: 16px;
  font-weight: 400;
}
.cards-content-more {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cards-content-more .more-date {
  color: #66686c;
  font-size: 16px;
  font-weight: 400;
}
.cards-content-more .more-btn {
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #7007ca;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.feedbacks-wrapper {
  width: 100%;
  padding: 64px 0;
  background: #f9f9f9;
  margin-bottom: 64px;
}
.feedbacks-wrapper .feedbacks {
  position: relative;
}
.feedbacks-wrapper .feedbacks-title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 32px;
}

.feedbacks-cards {
  position: relative;
}
.feedbacks-cards .slide-arrow {
  position: absolute;
  transform: translateY(-73px);
  display: flex;
  right: 0;
  gap: 10px;
}
.feedbacks-cards .slide-arrow span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.feedbacks-cards .slide-arrow span img {
  width: 24px;
  height: 24px;
}
.feedbacks-cards .slide-arrow span:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.feedbacks-cards .slide-arrow #left {
  transform: rotate(90deg);
}
.feedbacks-cards .slide-arrow #right {
  right: 0;
  transform: rotate(270deg);
}
.feedbacks-cards .carousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.feedbacks-cards .carousel .card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
  border: 2px solid #f2f2f2;
}
.feedbacks-cards .carousel .card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
  border-radius: 4px 4px 0 0;
  padding: 12px 16px;
  border-bottom: 2px solid #f2f2f2;
}
.feedbacks-cards .carousel .card-header .author-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.feedbacks-cards .carousel .card-text {
  position: relative;
  padding: 16px;
}
.feedbacks-cards .carousel .card-text .quote-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
  top: -18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
}
.feedbacks-cards .carousel .card-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
}
.feedbacks-cards .carousel .card-text .feedback-date {
  color: #808284;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.feedbacks-cards .make-feedback {
  display: flex;
  justify-content: center;
}
.feedbacks-cards .make-feedback p {
  padding: 15px 30px;
  color: #fff;
  background: #7007ac;
  border-radius: 15px;
  font-size: 16px;
}

.map-section {
  margin-bottom: 64px;
}
.map-section .map-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 32px;
}

.yandex-map .popup {
  display: none !important;
}

footer {
  width: 100%;
  background: #7007ca;
}

.footer-links {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.clinic-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
}
.clinic-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clinic-links a {
  color: #fff;
  text-decoration: none;
}

.about-center .about-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.about-center .about-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-center .about-links a {
  color: #fff;
  text-decoration: none;
}

.for-patients .patients-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.for-patients .patients-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.for-patients .patients-links a {
  color: #fff;
  text-decoration: none;
}

.contacts-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.contacts span {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.contacts-social .social-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.contacts-social .social-links {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}
.contacts .download-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 25px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.contacts .download-btn span {
  color: #7007ca;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-description {
  max-width: 660px;
  margin: 16px auto;
}
.footer-description p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.section-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}/*# sourceMappingURL=index.css.map */