.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-family: "Gilroy-Medium", sans-serif;
}
.header-logo {
  width: 180px;
  cursor: pointer;
}
.header-logo img {
  width: 100%;
}
.header-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 32px;
  height: 44px;
  padding: 8px 16px;
  gap: 12px;
}
.header-search img {
  position: absolute;
  margin-left: 16px;
  cursor: pointer;
}
.header-search input {
  width: 450px;
  height: 44px;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  outline: none;
  background: #f9f9f9;
  padding-left: 44px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.header-search input[type=search i]::-webkit-search-cancel-button {
  margin-right: 10px;
  cursor: pointer;
}
.header-search input:focus-visible {
  outline: 1px solid gold;
}
.header-lang {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-lang .lang-main {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 11px 16px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  background: #f9f9f9;
  transition: all 0.3s ease;
}
.header-lang .lang-main:hover {
  background: #e8e8e8;
}
.header-lang .lang-main .chevron-down {
  display: flex;
  align-items: flex-end;
}
.header-lang .lang-other {
  position: absolute;
  top: 50px;
  display: flex;
  width: 130px;
  height: 50px;
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.header-lang .open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.header-menu__wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  margin-bottom: 64px;
  align-items: center;
  background: #f9f9f9;
}
.header-menu__wrapper .header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-menu__wrapper .header-menu__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 1300px) {
  .header-menu__wrapper .header-menu__buttons {
    gap: 8px;
  }
}

.header-menu__items ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1300px) {
  .header-menu__items ul {
    gap: 10px;
  }
}
.header-menu__items ul li {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  cursor: pointer;
  position: relative;
}
.header-menu__items ul li a {
  display: flex;
  color: #000;
  text-decoration: none;
  line-height: 52px;
}
.header-menu__items ul li .active {
  border-bottom: 3px solid #7007ca;
}

.contact-menu {
  position: relative;
}
.contact-menu .contact-main {
  display: flex;
  align-items: center;
  height: 56px;
  gap: 8px;
  cursor: pointer;
}
.contact-menu:hover .contact-numbers {
  opacity: 1;
  pointer-events: auto;
}
.contact-menu .contact-numbers {
  position: absolute;
  top: 56px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 99;
}
.contact-menu .contact-numbers span {
  color: #66686c;
}
.contact-menu .contact-numbers strong {
  font-weight: 600;
  color: #323232;
}
.contact-menu .contact-numbers .call-center a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid #ededed;
}
.contact-menu .contact-numbers .call-center div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contact-menu .contact-numbers .call-phone a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.contact-menu .contact-numbers .call-phone div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-message a {
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #7007ca;
  background: #7007ca;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-message a:hover {
  background: #8803fd;
}
@media screen and (max-width: 1300px) {
  .contact-message a {
    padding: 8px 10px;
    font-size: 14px;
  }
}

.help-btn {
  right: 50px;
  bottom: 50px;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: self-end;
  z-index: 999;
  gap: 12px;
  transition: opacity 1s ease;
}
.help-btn-main {
  display: flex;
  gap: 5px;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  background: #7007ca;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(255, 255, 255, 0.55) 0px 0px 10px;
}
.help-btn-main:hover {
  background: #8803fd;
}
.help-btn-main p,
.help-btn-main svg {
  pointer-events: none;
}
.help-btn-others {
  flex-direction: column-reverse;
  gap: 12px;
  align-items: flex-end;
  display: none;
  opacity: 0;
}
.help-btn-others a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  background: #7007ca;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(255, 255, 255, 0.55) 0px 0px 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 24px;
  z-index: 999;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.modal-header .title {
  font-size: 30px;
  font-weight: bold;
}
.modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.modal-content {
  width: 100%;
}
.modal-content .modal-subtitle {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #66686c;
  margin-bottom: 24px;
}
.modal-content .phone-number {
  font-size: 16px;
  font-weight: 550;
  line-height: 16px;
}
.modal-content .telephone {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #e6e6e6;
  background: var(--white, #fff);
  margin-bottom: 12px;
  outline: none;
}
.modal-content .modal-btn {
  width: 100%;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  background: #7007ca;
  border: none;
  transition: all 0.3s ease;
}
.modal-content .modal-btn:hover {
  background: #8803fd;
}

.opened {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  transition: all 200ms ease-in-out;
  opacity: 0;
  top: 0;
  right: -100%;
  bottom: -100%;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
}
#overlay.opened {
  opacity: 1;
  pointer-events: all;
}

.recall-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  z-index: 10;
  width: 400px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 24px;
  z-index: 999;
}
.recall-modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.recall-modal-header .recall-title {
  font-size: 30px;
  font-weight: bold;
}
.recall-modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.recall-modal-content {
  width: 100%;
}
.recall-modal-content .recall-modal__content-subtitle {
  margin: 20px auto 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #575757;
  margin-bottom: 24px;
}
.recall-modal-content .recall-telephone {
  width: 90%;
  margin: 0 auto 12px;
  border-bottom: 2px solid #e6e6e6;
}
.recall-modal-content .recall-phone {
  width: 100%;
  padding: 12px 12px 10px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  background: #fff;
  outline: none;
}
.recall-modal-content .recall-modal-btn {
  width: 100%;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  background: #7007ca;
  border: none;
  transition: all 0.3s ease;
}
.recall-modal-content .recall-modal-btn:hover {
  background: #8803fd;
}
.recall-modal-content .recall-modal-subtitle {
  margin: 20px auto 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #66686c;
  margin-bottom: 24px;
}

.opened {
  transform: translate(-50%, -50%) scale(1);
}

footer {
  width: 100%;
  background: #7007ca;
}

.footer-links {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.clinic-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
}
.clinic-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clinic-links a {
  color: #fff;
  text-decoration: none;
}

.about-center .about-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.about-center .about-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-center .about-links a {
  color: #fff;
  text-decoration: none;
}

.for-patients .patients-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.for-patients .patients-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.for-patients .patients-links a {
  color: #fff;
  text-decoration: none;
}

.contacts-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.contacts span {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.contacts-social .social-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 16px;
}
.contacts-social .social-links {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}
.contacts .download-btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 25px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.contacts .download-btn span {
  color: #7007ca;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-description {
  max-width: 660px;
  margin: 16px auto;
}
.footer-description p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.section-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.specialists-wrapper {
  width: 100%;
  margin-bottom: 64px;
}

.specialists {
  position: relative;
}
.specialists-title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 32px;
}
.specialists-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.specialists-filter-search {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  gap: 12px;
}
.specialists-filter-search img {
  position: absolute;
  margin-left: 16px;
  cursor: pointer;
}
.specialists-filter-search input {
  width: 500px;
  height: 44px;
  border: 2px solid #ededed;
  border-radius: 8px;
  outline: none;
  padding-left: 44px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.specialists-filter-search input[type=search i]::-webkit-search-cancel-button {
  margin-right: 10px;
  cursor: pointer;
}
.specialists-filter-option {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  gap: 12px;
}
.specialists-filter-option select {
  width: 500px;
  height: 44px;
  border: 2px solid #EDEDED;
  border-radius: 8px;
  outline: none;
  padding: 0 16px 0 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.specialists-filter-option select i {
  margin-right: 20px;
}
.specialists-filter-selector .selector-buttons {
  border: 2px solid #ededed;
  padding: 3px;
  border-radius: 8px;
}
.specialists-filter-selector .selector-buttons button {
  width: 100px;
  color: #000000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
}
.specialists-filter-selector .selector-buttons .active {
  background: #F2F2F3;
}

.specialists-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.specialists-cards .carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.specialists-cards .carousel .card {
  display: flex;
  background: #f9f9f9;
  max-width: 610px;
  border-radius: 6px;
}
.specialists-cards .carousel .card-img img {
  border-bottom: 2px solid #f9f9f9;
}
.specialists-cards .carousel .card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specialists-cards .carousel .card .candidate-wrapper {
  padding: 20px;
}
.specialists-cards .card-description {
  position: relative;
  padding: 0 16px;
}
.specialists-cards .card-description .candidate-degree {
  position: absolute;
  transform: translateX(-10px) translateY(-18px);
  color: #fff;
  padding: 4px 16px;
  border-radius: 6px;
  background: #7007ca;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.specialists-cards .card-description .candidate-seniority {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.specialists-cards .card-description .consult-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ededed;
}
.specialists-cards .card-description .consult-price .price-title {
  color: rgba(0, 4, 10, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.specialists-cards .card-description .consult-price .price {
  font-size: 16px;
  font-weight: 600;
}

.candidate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}
.candidate-name {
  font-size: 20px;
  font-weight: 700;
}
.candidate-specialty {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.candidate-specialty span {
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.appointment-time {
  padding: 10px 16px 20px;
  border-radius: 8px;
  border: 1px solid #7007ca;
  text-align: center;
  margin-bottom: 16px;
}
.appointment-time .appointment-title {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
}
.appointment-time .appointment-day {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}
.appointment-time .appointment-day .left {
  transform: rotate(90deg);
}
.appointment-time .appointment-day .right {
  transform: rotate(270deg);
}
.appointment-time .appointment-clock {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.appointment-time .appointment-clock .time,
.appointment-time .appointment-clock .add-time1,
.appointment-time .appointment-clock .add-time2,
.appointment-time .appointment-clock .add-time3,
.appointment-time .appointment-clock .add-time4,
.appointment-time .appointment-clock .add-time5,
.appointment-time .appointment-clock .add-time6 {
  width: 60px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background: #7007ca;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.appointment-time .appointment-clock .other-time-wrapper1,
.appointment-time .appointment-clock .other-time-wrapper2,
.appointment-time .appointment-clock .other-time-wrapper3,
.appointment-time .appointment-clock .other-time-wrapper4,
.appointment-time .appointment-clock .other-time-wrapper5,
.appointment-time .appointment-clock .other-time-wrapper6 {
  display: none;
  gap: 8px;
}
.appointment-time .appointment-clock .active {
  border-radius: 4px;
  background: rgba(112, 7, 202, 0.2);
}
.appointment-time .appointment-clock .added img {
  transform: rotate(180deg);
}

.candidate-more {
  text-align: center;
  padding: 14px 0;
  border-radius: 8px;
  border: 1px solid #7007ca;
  cursor: pointer;
  color: #7007ca;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.candidate-more:hover {
  color: #fff;
  background: #7007ca;
}

.more-specialists {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.more-specialists p {
  width: 100%;
  text-align: center;
  padding: 14px 50px;
  border-radius: 8px;
  color: #000;
  background: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.3s ease;
}
.more-specialists p:hover {
  background: #e7e7e7;
}

.special-offers {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.special-offers-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.special-offers-section-title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.5px;
}
.special-offers .special-offers-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.special-offers .special-offers-cards .card {
  position: relative;
  width: 49%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  color: #000;
  background: #e2dcfb;
}
.special-offers .special-offers-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}
.special-offers .special-offers-cards .card-content__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.special-offers .special-offers-cards .card-content__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  width: 65%;
  z-index: 99;
  margin-bottom: 10px;
}
.special-offers .special-offers-cards .card-content-btn {
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.special-offers .special-offers-cards .card-content-btn:hover {
  color: #fff;
  background: #ab4bff;
}
.special-offers .special-offers-cards .card-img {
  position: absolute;
  right: 0;
  height: 100%;
  background: linear-gradient(lightgray -11.017px 0px/104.926% 100%);
}
.special-offers .special-offers-cards .card-img img {
  height: 100%;
}

.map-section__wrapper {
  width: 100%;
  background: #f9f9f9;
}

.map-section {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
.map-section .map {
  width: 50%;
}
.map-section .form-section {
  width: 45%;
}
.map-section .form-section-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.12px;
  margin-bottom: 24px;
}
.map-section .form-section .form {
  display: flex;
  flex-direction: column;
}
.map-section .form-section .form .input {
  padding: 12px 16px;
  border: none;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ededed;
  margin-bottom: 16px;
}
.map-section .form-section .form textarea {
  padding: 12px 16px;
  border: none;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ededed;
  margin-bottom: 16px;
}
.map-section .form-section .form textarea .placeholder {
  display: block !important;
}
.map-section .form-section .form .form-btn {
  height: 48px;
  padding: 12px 16px;
  border: 1px solid #7007ca;
  border-radius: 6px;
  color: #fff;
  background: #7007ca;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.map-section .form-section .form .form-btn:hover {
  background: #ab4bff;
}
.map-section .form-section-subtitle {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
}/*# sourceMappingURL=specialists-page.css.map */