.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  &-logo {
    cursor: pointer;
  }

  &-search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 32px;
    height: 44px;
    padding: 8px 16px;
    gap: 12px;

    img {
      position: absolute;
      margin-left: 16px;
      cursor: pointer;
    }

    input {
      width: 450px;
      height: 44px;
      border: 1px solid #f9f9f9;
      border-radius: 8px;
      outline: none;
      background: #f9f9f9;
      padding-left: 44px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    input[type="search" i]::-webkit-search-cancel-button {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &-lang {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .lang-main {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 11px 16px;
      border-radius: 40px;
      font-size: 16px;
      font-weight: 600;
      background: #f9f9f9;

      .chevron-down {
        display: flex;
        align-items: flex-end;
      }
    }

    .lang-other {
      position: absolute;

      top: 50px;
      display: flex;
      width: 130px;
      height: 50px;
      padding: 16px 20px;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 8px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
    }

    .open {
      display: flex;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.header-menu__wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  margin-bottom: 64px;
  align-items: center;
  background: #f9f9f9;

  .header-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__buttons {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.header-menu__items {
  ul {
    display: flex;
    align-items: center;
    gap: 32px;

    li {
      display: flex;
      align-items: flex-end;
      gap: 4px;
      cursor: pointer;
    }
  }
}

.contact-menu {
  position: relative;

  .contact-main {
    display: flex;
    align-items: center;
    height: 56px;
    gap: 8px;
    cursor: pointer;
  }

  &:hover {
    .contact-numbers {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .contact-numbers {
    position: absolute;
    top: 56px;
    width: 240px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    span {
      color: #66686c;
    }

    strong {
      color: #323232;
    }

    .call-center {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px;
      border-bottom: 1px solid #ededed;

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
    .call-phone {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px;

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
  }
}

.contact-message {
  button {
    padding: 8px 16px;
    border-radius: 8px;
    color: #ffffff;
    border: 1px solid #7007ca;
    background: #7007ca;
    cursor: pointer;
  }
}
