.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-family: "Gilroy-Medium", sans-serif;

  &-logo {
    width: 180px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  &-search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 32px;
    height: 44px;
    padding: 8px 16px;
    gap: 12px;

    img {
      position: absolute;
      margin-left: 16px;
      cursor: pointer;
    }

    input {
      width: 450px;
      height: 44px;
      border: 1px solid #f9f9f9;
      border-radius: 8px;
      outline: none;
      background: #f9f9f9;
      padding-left: 44px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    input[type="search" i]::-webkit-search-cancel-button {
      margin-right: 10px;
      cursor: pointer;
    }

    input:focus-visible {
      outline: 1px solid gold;
    }
  }

  &-lang {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .lang-main {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 11px 16px;
      border-radius: 40px;
      font-size: 16px;
      font-weight: 600;
      background: #f9f9f9;
      transition: all 0.3s ease;

      &:hover {
        background: #e8e8e8;
      }

      .chevron-down {
        display: flex;
        align-items: flex-end;
      }
    }

    .lang-other {
      position: absolute;

      top: 50px;
      display: flex;
      width: 130px;
      height: 50px;
      padding: 16px 20px;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 8px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
    }

    .open {
      display: flex;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.header-menu__wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  margin-bottom: 64px;
  align-items: center;
  background: #f9f9f9;

  .header-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__buttons {
      display: flex;
      align-items: center;
      gap: 16px;

      @media screen and (max-width: 1300px) {
        gap: 8px;
      }
    }
  }
}

.header-menu__items {
  ul {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1300px) {
      gap: 10px;
    }

    li {
      display: flex;
      align-items: flex-end;
      gap: 4px;
      cursor: pointer;
      position: relative;

      a {
        display: flex;
        color: #000;
        text-decoration: none;
        line-height: 52px;
      }

      .active {
        border-bottom: 3px solid #7007ca;
      }
    }
  }
}

.contact-menu {
  position: relative;

  .contact-main {
    display: flex;
    align-items: center;
    height: 56px;
    gap: 8px;
    cursor: pointer;
  }

  &:hover {
    .contact-numbers {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .contact-numbers {
    position: absolute;
    top: 56px;
    width: 240px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 99;

    span {
      color: #66686c;
    }

    strong {
      color: #323232;
    }

    .call-center {
      a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px;
        border-bottom: 1px solid #ededed;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
    .call-phone {
      a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
  }
}

.contact-message {
  a {
    padding: 8px 16px;
    border-radius: 8px;
    color: #ffffff;
    border: 1px solid #7007ca;
    background: #7007ca;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #8803fd;
    }

    @media screen and (max-width: 1300px) {
      padding: 8px 10px;
      font-size: 14px;
    }
  }
}

.help-btn {
  right: 50px;
  bottom: 50px;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: self-end;
  z-index: 999;
  gap: 12px;
  transition: opacity 1s ease;

  &-main {
    display: flex;
    gap: 5px;
    padding: 12px 20px;
    border-radius: 50px;
    color: #fff;
    background: #7007ca;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    transition: all 0.3s ease;
    box-shadow: rgba(255, 255, 255, 0.55) 0px 0px 10px;
    
    &:hover {
      background: #8803fd;
    }
    
    p,
    svg {
      pointer-events: none;
    }
  }

  &-others {
    flex-direction: column-reverse;
    gap: 12px;
    align-items: flex-end;
    display: none;
    opacity: 0;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      width: max-content;
      padding: 12px 20px;
      border-radius: 50px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      background: #7007ca;
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
      box-shadow: rgba(255, 255, 255, 0.55) 0px 0px 10px;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 24px;
  z-index: 999;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    .title {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  &-content {
    width: 100%;

    .modal-subtitle {
      margin: 0 auto;
      width: 70%;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #66686c;
      margin-bottom: 24px;
    }

    .phone-number {
      font-size: 16px;
      font-weight: 550;
      line-height: 16px;
    }

    .telephone {
      width: 100%;
      padding: 12px;
      border-radius: 8px;
      font-size: 18px;
      border: 1px solid #e6e6e6;
      background: var(--white, #fff);
      margin-bottom: 12px;
      outline: none;
    }

    .modal-btn {
      width: 100%;
      color: #fff;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 18px;
      line-height: 20px;
      background: #7007ca;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        background: #8803fd;
      }
    }
  }
}

.opened {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  transition: all 200ms ease-in-out;
  opacity: 0;
  top: 0;
  right: -100%;
  bottom: -100%;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;

  &.opened {
    opacity: 1;
    pointer-events: all;
  }
}

// Recall modall

.recall-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  z-index: 10;
  width: 400px;
  max-width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 24px;
  z-index: 999;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    .recall-title {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  &-content {
    width: 100%;

    .recall-modal__content-subtitle {
      margin: 20px auto 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #575757;
      margin-bottom: 24px;
    }

    .recall-telephone {
      width: 90%;
      margin: 0 auto 12px;
      border-bottom: 2px solid #e6e6e6;
    }

    .recall-phone {
      width: 100%;
      padding: 12px 12px 10px;
      border-radius: 8px;
      font-size: 18px;
      border: none;
      background: #fff;
      outline: none;
    }

    .recall-modal-btn {
      width: 100%;
      color: #fff;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 18px;
      line-height: 20px;
      background: #7007ca;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        background: #8803fd;
      }
    }

    .recall-modal-subtitle {
      margin: 20px auto 10px;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #66686c;
      margin-bottom: 24px;
    }
  }
}

.opened {
  transform: translate(-50%, -50%) scale(1);
}
