.online-consultation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.consultation-main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .consultation-title {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -0.5px;
  }

  .help-btn {
    right: 0;
    bottom: 30px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: self-end;
    z-index: 99;
    gap: 12px;

    &-main {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 12px 20px;
      border-radius: 50px;
      color: #fff;
      background: #7007ca;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
    }

    &-others {
      display: flex;
      flex-direction: column-reverse;
      gap: 12px;
      align-items: flex-end;
      display: none;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        width: max-content;
        padding: 12px 20px;
        border-radius: 50px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        background: #7007ca;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.consultation-type {
  display: flex;
  gap: 24px;

  .type-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  .type-buttons {
    border: 1px solid #ededed;
    padding: 4px;
    border-radius: 25px;

    button {
      width: 100px;
      color: #000000;
      background-color: #fff;
      border: none;
      cursor: pointer;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      border-radius: 20px;
    }

    .active {
      color: #ffffff;
      background: #7007ca;
    }
  }
}

.consultation-slider {
  position: relative;
  display: flex;
  align-items: center;

  .slide-arrow {
    position: absolute;
    display: flex;
    width: 100%;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      cursor: pointer;
      transition: all 0.3s ease;

      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
      }
    }

    #left {
      transform: rotate(90deg);
    }
    #right {
      position: absolute;
      right: 0;
      transform: rotate(270deg);
    }
  }

  .carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 24px;
  }
}

.slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  width: 185px;
  height: 130px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--black-white-white, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

  &-img {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 33px;
    background: rgba(112, 7, 202, 0.05);
  }

  &-name {
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
  }
}
