@import "header.scss";
@import "footer.scss";

.map-section {
  margin-bottom: 64px !important;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;

  &-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &-subtitle {
    font-size: 20px;
    font-weight: 500;
  }
}

.news-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      display: flex;
      width: 49%;
      gap: 15px;
      margin-bottom: 10px;
      transition: all 0.3s ease;

      img {
        border-radius: 8px;
      }

      &-content {
        display: flex;
        flex-direction: column;

        &-title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 16px;
        }

        &-subtitle {
          color: #66686c;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 16px;
        }

        &-date {
          display: flex;
          align-items: center;
          gap: 16px;

          .date {
            color: #66686c;
            font-size: 16px;
            font-weight: 500;
          }

          .btn {
            cursor: pointer;
            padding: 6px 16px;
            border-radius: 6px;
            border: 1px solid #7007ca;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;

            &:hover {
              background: #7007ca;

              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.more-news {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  p {
    width: 100%;
    text-align: center;
    padding: 14px 50px;
    border-radius: 8px;
    color: #000;
    background: #f9f9f9;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: all 0.3s ease;

    &:hover {
      background: #e7e7e7;
    }
  }
}

.appointment {
  position: relative;
  border-radius: 8px;
  background: #ede7fd;
  padding: 100px 80px;
  margin-bottom: 64px;

  &-octagon {
    position: absolute;
    top: 2px;
    left: 2px;
  }

  &-title {
    max-width: 70%;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 24px;
    letter-spacing: -2px;
  }

  &-subtitle {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 38px;
    letter-spacing: -2px;
  }

  &-btn {
    width: max-content;
    padding: 12px 25px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    background: #7007ca;
    cursor: pointer;
    transition: all 0.3s ease;

    a {
      color: #fff;
    }

    &:hover {
      background: #8803fd;
    }
  }

  &-img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 150px;
    bottom: 0;

    .octagon {
      position: absolute;
      transform: translateY(-25px);
    }
  }
}

//Map section

.map-section {
  margin-bottom: 64px;

  .map-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 32px;
  }
}
