// @font-face {
//   font-family: "Gilroy";
//   src: url("./Gilroy-Medium.woff2") format("woff2"),
//     url("./Gilroy-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
// }
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Manrope:wght@500&family=Montserrat:wght@300;400;500;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  padding: 0 96px;
  margin: 0 auto;

  @media screen and (max-width: 1400px) {
    padding: 0 70px;
  }
  
  @media screen and (max-width: 1200px) {
    padding: 0 50px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
