.map-section {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;

  .map {
    width: 50%;
  }

  .form-section {
    width: 45%;

    &-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: -0.12px;
      margin-bottom: 24px;
    }

    .form {
      display: flex;
      flex-direction: column;

      .input {
        padding: 12px 16px;
        border: none;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #ededed;
        margin-bottom: 16px;
      }

      textarea {
        padding: 12px 16px;
        border: none;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #ededed;
        margin-bottom: 16px;
      }

      .form-btn {
        height: 48px;
        padding: 12px 16px;
        border: 1px solid #7007ca;
        border-radius: 6px;
        color: #fff;
        background: #7007ca;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }

    &-subtitle {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      opacity: 0.6;
    }
  }
}
