.map-section {
  margin-bottom: 64px;

  .map-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 32px;
  }
}

.yandex-map {
  .popup {
    display: none !important;
  }
}
